.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  z-index: 1040 !important;
}
.card{
  min-height: 222px;
}
.card-s {
  min-height: 180px;
}
.card-m {
  min-height: 220px;
}
.card-l {
  min-height: 255px;
}

